/common/minFunc_2012/minFunc/compiled/lbfgsAddC.mexw32
/common/minFunc_2012/minFunc/compiled/lbfgsProdC.mexw32
/common/t10k-images-idx3-ubyte
/common/t10k-labels-idx1-ubyte
/common/train-images-idx3-ubyte
/common/train-labels-idx1-ubyte
